@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" style="font-weight:bold">Origami</h1>
    <p style="font-style:italic">Where imagination meets complexity</p>

    <p style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">
        The history of Origami goes way back into early Japan, first created by monks who used paper and other artifacts to decorate
        their temples. The discovery of folding paper in intricate ways through complex and simple maneuvers was brought later
        to China.
        <br /><br />
        Today, the creation of Origami continues to flourish. It has been utilized in the homes of young children, in classroom 
        settings, and even in space! Creativity and innovation are brought together with just a piece of paper, one's hands and 
        imagination.
        <br /><br />
        That's why this is one of my favorite hobbies. As a young woman, I remember a missionary who knew how to do origami and create
        it for all the kids in the ward. His gift connected others together and brought joy to their lives in a simple way. I wanted
        to do that too. So I started learning for myself. I love creating with my hands and seeing the images in my head become a reality.
        It involves problem solving and can range from easy to hard challenges/difficulty levels. 
        <br /><br />
        Want to enjoy a challenge? Enjoy being creative and using it to help bring joy to other's lives? Come and sign up for an origami
        lesson!
    </p>
</div>

<!-- main index page -->
