@{
    ViewData["Title"] = "Try it Yourself";
}
<h1>@ViewData["Title"]</h1>

<h3>Price Estimate for Origami Instruction</h3>
<form id="tutorEstimate">
    <label>Enter number of hours you would like to receieve lessons:</label>
    <input type="number" id="numOfHours"/>
</form>




<p>Use this page to detail your site's privacy policy.</p>
